*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
body{
   min-height: 100vh;
}

/* NAVBAR STARTS */
.nav{
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;
    height: 50px;
    backdrop-filter: blur(20px);
}
.nav-heading{
    text-shadow: 0 3px 6px rgb(83, 83, 83);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-links{
    display: flex;
    gap: 50px;
}
.link{
    text-decoration: none;
    color: rgb(190, 188, 188);
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.link:hover{
    color: #e8862e;
}
.search-bar{
    display: flex;
}
.search{
    border: 2px solid white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 30px;
    background-color: transparent;
}
.search::placeholder{
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}
.search-icon{
    width: 30px;
    height: 30px;
    background-image: url('search-icon.png');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* NAVBAR ENDS */

/* HEADER STARTS */

.main-content{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/ui.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main-content::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px; 
    background: linear-gradient(to bottom, transparent, #01020f);
    pointer-events: none;
}
/* #01051e */
.main-text{
    margin-top: 200px;
    display: block;
    padding-top: 60px;
    padding-bottom: 40px;
    border-radius: 30px;
    font-size: 30px;
    width: 700px;
    position: absolute;
    left: 80px;
    backdrop-filter: blur(1.5px);
    animation: fade-up ease-in;
    animation-timeline: scroll(); 
    animation-range: 0% 100%;
}
@keyframes fade-up {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}
.hero-text{
    text-shadow: 0 3px 6px rgb(83, 83, 83);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero-para{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(190, 188, 188);
    margin-top: 40px;
}
.explore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 40px;
    width: 200px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: white;
    text-shadow: 0 3px 6px rgb(83, 83, 83);
}
.Explore:hover{
    color: #e8862e;
}

/* HEADER ENDS */

/* MAIN STARTS */

main{
    background-color:#01020f;
}
.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 30px;
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
#Popular{
    padding-top: 70px;
}
.section-heading{
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 3px;
    text-shadow: 0 3px 6px rgb(83, 83, 83);
    margin-bottom: 10px;
}
.section-text{
    color: rgb(190, 188, 188);
    font-size: 20px;
}
.view{
    height: 30px;
}
#view{
    height: 30px;
    background-color: transparent;
    border: none;
     font-size: 20px;
}
.section-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);     
    gap: 20px;                              
    padding: 40px;
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
@keyframes fade{
    from{
        opacity: 0;
        scale: .5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.card {
  display: flex;
  flex-direction: column;
  color: white;
  height: 170px;
  width: 20vw;
  padding-inline: 20px;
  padding-block: 15px;
  background-color: #071336;
  box-shadow: 0 0 15px 5px #071336;
  border-radius: 10px;
  transition: all .5s ease-in-out;
}
#card1{
    background-image: url("images/Cyberpunk.png");
    background-size: cover;
    background-position: center;
}
#card2{
    background-image: url("images/pubg.webp");
    background-size: cover;
    background-position: center;
}
#card3{
    background-image: url("images/Survival.webp");
    background-size: cover;
    background-position: center;
}
#card4{
    background-image: url("images/RPG.webp");
    background-size: cover;
    background-position: center;
}
#card5{
    background-image: url("images/Tony\ Hawk\'s.webp");
    background-size: cover;
    background-position: center;
}
#card6{
    background-image: url("images/Grand\ Theft\ Auto.webp");
    background-size: cover;
    background-position: center;
}
#card7{
    background-image: url("images/Elden\ Ring.jpg");
    background-size: cover;
    background-position: center;
}
#card8{
    background-image: url("images/Super\ Mario\ Galaxy\ 2.jpg");
    background-size: cover;
    background-position: center;
}
.card-section{
    margin-block: auto;
    margin-inline: auto;
    width: 70%;
    height: 35%;
    border-radius: 20px;
    border: 2px solid white;
    background-color: transparent;
    font-size: clamp(.8rem, 2vw, 2em);
    font-weight: 700;
    backdrop-filter: blur(20px);
}
.card:hover{
    transform: translateY(-20px);
}

/* MAIN ENDS */

/* FOOTER STARTS */

.foot{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr ;     
    gap: 20px;                              
    padding: 40px;
    background-color: #040413;
}
.footer-cards{
    background-color: transparent;
    border: none;
    border-radius: 8px;
    padding: 20px;
    color: white;
    height: 200px;
}
.conclude{
    display: flex;
    flex-direction: column;
}
.foot-card-head{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 20px;
    text-shadow: 0 3px 6px rgb(83, 83, 83);
}
.nav-link{
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(190, 188, 188);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.foot-card-text{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(190, 188, 188);
    font-size: 17px;
    font-weight: 600;
}

/* FOOTER ENDS */
