*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
body{
   min-height: 100vh;
}

/* NAVBAR STARTS */
.nav{
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;
    height: 50px;
    backdrop-filter: blur(20px);
}
.nav-heading{
    text-shadow: 0 3px 6px rgb(83, 83, 83);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-links{
    display: flex;
    gap: 50px;
}
.link, .cat-link{
    text-decoration: none;
    color: rgb(190, 188, 188);
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.link:hover{
    color: #e8862e;
}
.search-bar{
    display: flex;
}
.search{
    border: 2px solid white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 30px;
    background-color: transparent;
}
.search::placeholder{
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}
.search-icon{
    width: 30px;
    height: 30px;
    background-image: url('images/search-icon.png');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* NAVBAR ENDS */

/* HEADER STARTS */

.main-content{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/ui.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main-content::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px; 
    background: linear-gradient(to bottom, transparent, #01020f);
    pointer-events: none;
}
/* #01051e */
.main-text{
    margin-top: 200px;
    display: block;
    padding-top: 60px;
    padding-bottom: 40px;
    border-radius: 30px;
    font-size: 30px;
    width: 700px;
    position: absolute;
    left: 80px;
    backdrop-filter: blur(1.5px);
    animation: fade-up ease-in;
    animation-timeline: scroll(); 
    animation-range: 0% 100%;
}
@keyframes fade-up {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}
.hero-text{
    text-shadow: 0 3px 6px rgb(83, 83, 83);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero-para{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(190, 188, 188);
    margin-top: 40px;
}
.explore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 40px;
    width: 200px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: white;
    text-shadow: 0 3px 6px rgb(83, 83, 83);
}
.Explore:hover{
    color: #e8862e;
}

/* HEADER ENDS */

/* MAIN STARTS */

main{
    background-color:#01020f;
}
.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 30px;
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
#Popular{
    padding-top: 70px;
}
.section-heading{
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 3px;
    text-shadow: 0 3px 6px rgb(83, 83, 83);
    margin-bottom: 10px;
}
.section-text{
    color: rgb(190, 188, 188);
    font-size: 20px;
}
.view{
    height: 30px;
}
#view{
    height: 30px;
    background-color: transparent;
    border: none;
    font-size: 20px;
}
.section-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);     
    gap: 20px;                              
    padding: 40px;
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
@keyframes fade{
    from{
        opacity: 0;
        scale: .5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.card {
  display: flex;
  flex-direction: column;
  color: white;
  height: 170px;
  width: 100%;
  padding-inline: 20px;
  padding-block: 15px;
  background-color: #071336;
  box-shadow: 0 0 15px 5px #071336;
  border-radius: 10px;
  transition: all .5s ease-in-out;
}
#card1{
    background-image: url("images/Cyberpunk.png");
    background-size: cover;
    background-position: center;
}
#card2{
    background-image: url("images/pubg.webp");
    background-size: cover;
    background-position: center;
}
#card3{
    background-image: url("images/Survival.webp");
    background-size: cover;
    background-position: center;
}
#card4{
    background-image: url("images/RPG.webp");
    background-size: cover;
    background-position: center;
}
#card5{
    background-image: url("images/Tony\ Hawk\'s.webp");
    background-size: cover;
    background-position: center;
}
#card6{
    background-image: url("images/Grand\ Theft\ Auto.webp");
    background-size: cover;
    background-position: center;
}
#card7{
    background-image: url("images/Elden\ Ring.jpg");
    background-size: cover;
    background-position: center;
}
#card8{
    background-image: url("images/Super\ Mario\ Galaxy\ 2.jpg");
    background-size: cover;
    background-position: center;
}
#direct{
    text-decoration: none;
}
#direct:hover{
    color: #e8862e;
}
.card-section{
    margin-block: auto;
    margin-inline: auto;
    width: 70%;
    height: 35%;
    border-radius: 20px;
    border: 2px solid white;
    background-color: transparent;
    font-size: clamp(.8rem, 2vw, 2em);
    font-weight: 700;
    backdrop-filter: blur(20px);
}
.card-section{
    margin-block: auto;
    margin-inline: auto;
    width: 70%;
    height: 35%;
    border-radius: 20px;
    border: 2px solid white;
    background-color: transparent;
    font-size: clamp(.8rem, 2vw, 2em);
    font-weight: 700;
    backdrop-filter: blur(20px);
}
.card:hover{
    transform: translateY(-20px);
}

/* MAIN ENDS */

/* FOOTER STARTS */

.foot{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr ;     
    gap: 20px;                              
    padding: 40px;
    background-color: #040413;
}
.footer-cards{
    background-color: transparent;
    border: none;
    border-radius: 8px;
    padding: 20px;
    color: white;
    height: 200px;
}
.conclude{
    display: flex;
    flex-direction: column;
}
.foot-card-head{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 20px;
    text-shadow: 0 3px 6px rgb(83, 83, 83);
}
.nav-link{
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(190, 188, 188);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.foot-card-text{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(190, 188, 188);
    font-size: 17px;
    font-weight: 600;
}

/* FOOTER ENDS */

/* CATEGORY.HTML */

#category-html{
    background-color: #040413;
}
.cat-link{
    color: white;
}

/* HEADER STARTS */

.cat-main-content{
    background-image: url('images/all-cat.webp');
    height: 100vh;
}
.cat-main-text{
    display: block;
    padding-top: 150px;
    /* padding-bottom: 40px; */
    border-radius: 30px;
    font-size: 30px;
    width: 80%;
    position: absolute;
    left: 50px;
    top: 150px;
    backdrop-filter: blur(1.5px);
    animation: fade-up ease-in;
    animation-timeline: scroll(); 
    animation-range: 0% 100%;
}
.cat-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 70px;
    padding-top: 70px;
}
.cat-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: transparent;
    border: 3px solid white;
    padding: 15px;
    border-radius: 8px;
    font-weight: 600;
}
#cat-a{
    text-decoration: none;
}
#cat-a:hover{
    color:#e8862e;
}

/* HEADER ENDS */

/* MAIN STARTS */

.individual-cat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
#sci{
    padding-top: 60px;
}
.card-heading{
    font-size: 50px;
    text-shadow: 0 3px 6px rgb(83, 83, 83);
    padding-bottom: 10px;
}
.card-subhead{
    margin-top: 10px;
    color: rgb(190, 188, 188);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-bottom: 10px;
}
.btn{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.keyword{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: auto;
    height: 30px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
}
.cat-main-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
}
.cat-main-card{
    height: 350px;
    width: 100%;
    background-color: rgb(1, 2, 33);
    box-shadow: 0 0 15px 5px #060f2c;
    border-radius: 10px;
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
.cat-main-card:hover{
    transform: translateY(-20px);
}
.cat-main-card-img{
    height: 55%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    background-position: center;
}
#cat-card1{
    background-image: url("images/cyber1.jpg");
}
#cat-card2{
    background-image: url("images/cyber2.jpg");
}
#cat-card3{
    background-image: url("images/cyber3.jpg");
}
#cat-card4{
    background-image: url("images/cyber4.jpg");
}
#cat-card5{
    background-image: url("images/action1.jpeg");
}
#cat-card6{
    background-image: url("images/action2.jpg");
}
#cat-card7{
    background-image: url("images/action3.jpg");
}
#cat-card8{
    background-image: url("images/action4.jpg");
}
#cat-card9{
    background-image: url("images/survival1.png");
}
#cat-card10{
    background-image: url("images/survival2.jpg");
}
#cat-card11{
    background-image: url("images/survival3.jpg");
}
#cat-card12{
    background-image: url("images/survival4.jpg");
}
#cat-card13 {
    background-image: url("images/rpg1.jpg");
}
#cat-card14 {
    background-image: url("images/rpg2.webp");
}
#cat-card15 {
    background-image: url("images/rpg3.jpg");
}
#cat-card16 {
    background-image: url("images/rpg4.jpg");
}
.game-info{
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 5px;

}
.game-info h3{
    font-size: 22px;
    margin-bottom: 10px;
}
.game-info p {
    color: rgb(190, 188, 188);
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 8px;
}

.game-info span {
    font-size: 15px;
    font-weight: 700;
}

/* TOP RATED GAMES */

#top-rated{
    background-color: #040413;
    background-image: url("images/top-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.top-head{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 160px;
    font-size: 30px;
}

.top-games {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 350px);
    width: 80%;
    gap: 80px;
    row-gap: 250px;
    padding-block: 100px;
    position: relative;
    top: 170px;
    margin-inline: auto;
    padding-bottom: 300px;
}
.top-game-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-color: rgba(1, 2, 33, 0.35);
    box-shadow: 0 0 15px 5px #060f2c;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(10px);
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.top-game-info h2 {
    font-size: 30px;
    margin-bottom: 15px;
    text-shadow: 0 3px 6px rgb(83, 83, 83);
}
.top-subtitle {
    color: #3ec9d6 !important;
    font-size: 18px !important;
    margin-bottom: 15px;
}
.top-game-info p {
    color: rgb(190, 188, 188);
    font-size: 16px;
    line-height: 1.5;
}
.top-rating {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #e8862e;
}
.top-game-img {
    height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px #060f2c;
    transition: all 0.5s ease-in-out;
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.top-game-img:hover, .top-game-info:hover{
    transform: translateY(-10px);
}
#top-game1 {
    background-image: url("images/top1.webp");
}
#top-game2 {
    background-image: url("images/top2.avif");
}
#top-game3 {
    background-image: url("images/top3.jpg");
}

/* RESPONSIVE */

@media (max-width: 768px){

    /* NAVBAR */
    .nav{
        padding: 20px;
        height: auto;
        flex-wrap: wrap;
        gap: 15px;
    }
    .nav-heading{
        font-size: 25px;
    }
    .nav-links{
        gap: 20px;
    }
    .link, .cat-link{
        font-size: 16px;
    }
    .search{
        width: 120px;
    }

    /* HOME HERO */
    .main-content{
        min-height: 100vh;
    }
    .main-text{
        width: 90%;
        left: 5%;
        margin-top: 100px;
        font-size: 22px;
    }
    .hero-para{
        font-size: 16px;
    }

    /* HOME SECTIONS */
    .section{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 25px;
    }
    .section-heading{
        font-size: 30px;
    }
    .section-text{
        font-size: 16px;
    }
    .section-cards{
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
    .card{
        width: 100%;
    }

    /* CATEGORY HEADER */
    .cat-main-text{
        width: 90%;
        left: 5%;
        font-size: 22px;
    }
    .cat-cards{
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 30px;
    }

    /* CATEGORY GAME CARDS */
    .cat-main-cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 15px;
    }
    .cat-main-card{
        height: 330px;
    }
    .card-heading{
        font-size: 35px;
    }
    .game-info p{
        font-size: 10px;
    }
    .card-subhead{
        font-size: 17px;
    }
    .btn{
        flex-wrap: wrap;
    }


    /* TOP RATED */
    .top-head{
        font-size: 22px;
    }
    .top-games{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 90%;
        gap: 30px;
        row-gap: 50px;
        padding-bottom: 150px;
    }
    .top-game-info{
        min-height: 300px;
        padding: 25px;
    }
    .top-game-img{
        height: 300px;
    }

    /* FOOTER */
    .foot{
        grid-template-columns: 1fr;
        padding: 25px;
    }

    .footer-cards{
        height: auto;
    }

    .foot-card-head{
        font-size: 30px;
    }

}